@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="cash-container">
    <div class="cash-container__title">
        <h1>@Localizer["Баланс акаунту"]</h1>
    </div>

    <div class="cash-container__info">
        <div class="leftpannel">
            <div class="leftpannel-title">
                <h2>@Localizer["Поточний баланс"]:</h2>
            </div>
            <div class="leftpannel-balance">
                <span>@ViewData["AccountBalance"]</span>
            </div>
        </div>

        <div class="rightpannel">
            <form asp-controller="Account" asp-action="pay" method="post">
                <div>
                    <label class="rightpannel-label" for="topUpAmount">@Localizer["Сума для поповнення"]:</label>
                </div>
                <div>
                    <input class="rightpannel-input" type="number" step="0.01" name="topUpAmount" id="topUpAmount" required>
                </div>
                <div>
                    <button class="rightpannel-button" type="submit">@Localizer["Поповнити баланс"]</button>
                </div>                            
            </form>
        </div>
    </div>
</div>
