@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="route-container__item" id="routeContainer">
    @foreach (var item in Model)
    {
        <div class="route-block" tripId="@item.TripID">
            <div class="route-block__details">
                <span>@Localizer["З міста"]:</span>
                <span class="route-block__details-text">@item.DeparturePoint</span>
            </div>
            <div class="route-block__details">
                <span>@Localizer["В місто"]:</span>
                <span class="route-block__details-text">@item.DestinationPoint</span>
            </div>
            <div class="route-block__details">
                <span>@Localizer["Дата відправки"]:</span>
                <span class="route-block__details-text">@item.Date</span>
            </div>
            <div class="route-block__details">
                <span>@Localizer["Кількість місць"]:</span>
                <span class="route-block__details-text">@item.Places</span>
            </div>

            <div class="route-block__details">
                <button class="route-block__details-buylink" onclick="buyTicket('@item.TripID')">
                    <span>@Localizer["купити за"]</span>
                    <span class="route-block__details-text">@item.TicketCost  &#8372</span>
                </button>
            </div>

           @if (User.Identity.IsAuthenticated)
           {
                <div class="route-block__details">
                    <button class="change" onclick="buyTicket('@item.TripID')">
                        <span>@Localizer["змінити"]</span>
                    </button>
                </div>

                <div class="route-block__details">
                    <button class="delete" onclick="deleteRoute('@item.TripID')">
                        <span>@Localizer["видалити"]</span>
                    </button>
                </div>
           }
        </div>
    }
</div>

<script>
    function buyTicket(tripId) {
        console.log(tripId);
        $.ajax({
            url: '/Account/BuyTicket',
            type: 'GET',
            data: { tripId: tripId },
            success: function (response) {
                console.log('bought successfully');
                $(".messages").html(response.message);
                window.location.href = '/Account/Index'
            },
            error: function () {
                console.log('Error buying ticket.');
            }
        });
    }

    function deleteRoute(tripId) {
     console.log(tripId);
            $.ajax({
            url: '/MainPage/DeleteRoute',
            type: 'DELETE',
            data: { tripId: tripId },
            success: function (response) {
                console.log('delete successfully');
                $(".messages").html(response.message);
                location.reload();
            },
            error: function () {
                console.log('Error deleting route.');
            }
        });
    }
</script>