@using TiVerse.Core.Entity;
@{
    Account user = (Account)ViewData["ExistingUserData"];
}

<div class ="personalinfo">
    <form asp-controller="Account" asp-action="UpdatePersonalInfo" method="post">                             
        <div>
            <h1 class="personalinfo__header">Особисті дані</h1>
        </div>

        @if (TempData.ContainsKey("SuccessMessage"))
        {
            <div class="alert alert-success">
                <h2>@TempData["SuccessMessage"]</h2>
            </div>
        }

        @if (TempData.ContainsKey("ErrorMessage"))
        {
            <div class="alert alert-danger">
                <h2>@TempData["ErrorMessage"]</h2>
            </div>
        }

        @if(user != null)
        {
            <div class="personalinfo__form">
                <div class="personalinfo__form-block">
                    <span>Прізвище:</span>
                    <input class="personalinfo__form-input" type="text" name="Lastname" placeholder="Прізвище" value="@(user.LastName != null ? user.LastName : "")" />
                </div>
                <div class="personalinfo__form-block">
                    <span>Ім'я:</span>
                    <input class="personalinfo__form-input" type="text" name="Firstname" placeholder="Ім'я" value="@(user.FirstName != null ? user.FirstName : "")" />
                </div>
            </div>

            <div class="personalinfo__form">
                <div class="personalinfo__form-block">
                    <span>Місто:</span>
                    <input class="personalinfo__form-input" type="text" name="City" placeholder="Місто" value="@(user.City != null ? user.City : "")">
                </div>

                <div class="personalinfo__form-block">
                    <span>Дата народження:</span>
                    <input class="personalinfo__form-input" type="date" name="BirthDate" value="@(user.BirthDate != null ? user.BirthDate.ToString("yyyy-MM-dd") : "")">
                </div>
            </div>

            <button type="submit" class="personalinfo__button">Зберегти</button>
        }
        else
        {
            <div class="personalinfo__form">
                <div class="personalinfo__form-block">
                    <span>Прізвище:</span>
                    <input class="personalinfo__form-input" type="text" name="Lastname" placeholder="Прізвище" />
                </div>
                <div class="personalinfo__form-block">
                    <span>Ім'я:</span>
                    <input class="personalinfo__form-input" type="text" name="Firstname" placeholder="Ім'я" />
                </div>
            </div>

            <div class="personalinfo__form">
                <div class="personalinfo__form-block">
                    <span>Місто:</span>
                    <input class="personalinfo__form-input" type="text" name="City" placeholder="Місто">
                </div>

                <div class="personalinfo__form-block">
                    <span>Дата народження:</span>
                    <input class="personalinfo__form-input" type="date" name="BirthDate">
                </div>
            </div>

            <button type="submit" class="personalinfo__button">Зберегти</button>
        }    
    </form>
</div>
