@using TiVerse.Core.Entity;
@using TiVerse.Application.DTO;
@using Microsoft.AspNetCore.Mvc.Localization

@{
    var tripHistory = ViewData["TripHistory"] as List<RouteDTO>;
}

@inject IViewLocalizer Localizer

<div class="account-container">
    <div>
        <h1 class="account-container__header">@Localizer["Історія поїздок"]</h1>
    </div>

    <div class="route-container__item" id="routeContainer">
        @if (tripHistory != null && tripHistory.Any())
        {
            <div class="route-container__item" id="routeContainer">

                @foreach (var item in tripHistory)
                {
                    <div class="route-block" tripId="@item.TripID">
                        <div class="route-block__details">
                            <span>@Localizer["З міста"]:</span>
                            <span class="route-block__details-text">@item.DeparturePoint</span>
                        </div>
                        <div class="route-block__details">
                            <span>@Localizer["В місто"]:</span>
                            <span class="route-block__details-text">@item.DestinationPoint</span>
                        </div>
                        <div class="route-block__details">
                            <span>@Localizer["Дата відправки"]:</span>
                            <span class="route-block__details-text">@item.Date</span>
                        </div>
                        <div class="route-block__details">
                            <span>@Localizer["Кількість місць"]:</span>
                            <span class="route-block__details-text">@item.Places</span>
                        </div>

                        <div class="route-block__details">
                            <button class="button-blocked" onclick="buyTicket('@item.TripID')">
                                <span>@Localizer["куплено за"]</span>
                                <span class="route-block__details-text">@item.TicketCost  &#8372</span>
                            </button>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h2 class="account-container__message">@Localizer["Історія подорожей поки не доступна або ви ще не здійснили жодної подорожі."]</h2>
        }
    </div>
</div>

