@{
    ViewData["Title"] = "Bus Page";
    Layout = "_SiteLayout";
}

@model List<TiVerse.Core.Entity.Trip>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Маршрути автобусом</h1>
<table class="bus-table">
    <thead>
        <tr>
            <th>Звідки</th>
            <th>Куди</th>
            <th>Коли</th>
            <th>Місця</th>
            <th>Ціна</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DeparturePoint</td>
                <td>@item.DestinationPoint</td>
                <td>@item.Date</td>
                <td>@item.Places</td>
                <td>@item.TicketCost</td>
            </tr>
        }
    </tbody>
</table>
