@{
    ViewData["Title"] = "Bus Page";
    Layout = "_SiteLayout";
}

@model List<TiVerse.Core.Entity.Trip>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="bus-container">     
    @foreach (var item in Model)
    {
        <div class="route-block">
            <div class="route-block__details">
                <span class="route-block__details-text">З міста:</span>
                <span>@item.DeparturePoint</span>
            </div>
            <div class="route-block__details">
                <span>В місто:</span>
                <span>@item.DestinationPoint</span>
            </div>
            <div class="route-block__details">
                <span>Дата відправки:</span>
                <span>@item.Date</span>
            </div>
            <div class="route-block__details">
                <span>Кількість місць:</span>
                <span>@item.Places</span>
            </div>
            <div class="route-block__details">
                <a class="buyLink" href="#">
                    <div class="buyLink-text">купити за</div>
                    <div class="buyLink price">@item.TicketCost</div>
                </a>
            </div>
        </div>
    }
</div>